ul > li {
  cursor: pointer;
}
.container #isRow {
  overflow-y: scroll;
}
.container {
  display: flex;
  height: 180px;
}
div .card:hover {
  cursor: pointer;
}
div .col-md-6 {
  cursor: pointer;
}
.card:hover {
  transform: scale(1.03);
}

.card-title {
  font-size: 1rem;
  text-align: center;
}
div .card {
  cursor: pointer;
  background-color: rgb(105, 94, 94);
  color: rgb(224, 203, 174);
}
div .card :hover {
  transform: scale(1.03);
}

div i:hover {
  color: rgb(224, 203, 174);
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}
