<div class="container">
  <div id="isRow" class="row">
    <div *ngFor="let color of colors | colorFilter: filterText">
      <div class="row">
        <div class="col-md-6">
          <div
            class="card"
            [ngStyle]="{ width: cardWidth }"
            routerLink="/cars/color/{{ color.id }}"
          >
            <div class="card-body" (click)="topFunction()">
              <h5
                class="card-title"
                style="font-size: 1rem; text-align: center"
              >
                {{ color.colorName }}
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div *ngIf="checkIsAdmin()">
            <i
              class="fa-solid fa-key"
              style="font-size: 40px; margin-left: 20px; margin-top: 10px"
              routerLink="/colors/detail/{{ color.id }}"
              title="{{ color.colorName }} Repair"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
