<div class="container" style="display: flex">
  <div class="row">
    <div *ngFor="let color of colors | colorFilter: filterText">
      <div
        class="card"
        style="
          width: 100px;
          background-color: rgb(139, 86, 86);
          color: rgb(240, 201, 150);
        "
        routerLink="/cars/color/{{ color.id }}"
      >
        <div class="card-body" (click)="topFunction()">
          <h5 class="card-title" style="font-size: 1rem">
            {{ color.colorName }}
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
