<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
  <div class="container-fluid">
    <div class="site-logo">
      <a class="navbar-brand" href="">Give me Car</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"></li>
      </ul>

      <ul class="navbar-nav" *ngIf="isAdmin == true">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-key"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item btn" routerLink="/rentals">Rentals </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/cars/add">Cars </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/brands/add">Brands </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/colors/add">Colors </a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav" *ngIf="isAuthorizated == true">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-user"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item btn" routerLink="/profile"
                ><i class="fa-solid fa-user"> </i> {{ userDetails.firstName }}
                {{ userDetails.lastName }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="" (click)="logOut()">
                <i class="fas fa-sign-in-alt"> </i> Log out
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="flex-d button-group" *ngIf="isAuthorizated == false">
        <button class="btn btn-light ms-3" routerLink="/login">
          <i class="fa fa-sign-in" aria-hidden="true" title="Login"> </i>
        </button>
      </div>
    </div>
  </div>
</nav>
