<div class="container">
  <div id="isRow" class="row">
    <div *ngFor="let brand of brands | brandFilter: filterText">
      <div class="row">
        <div class="col-md-6">
          <div
            class="card"
            [ngStyle]="{ width: cardWidth }"
            routerLink="/cars/brand/{{ brand.id }}"
          >
            <div class="card-body" (click)="topFunction()">
              <h5 class="card-title">
                {{ brand.name }}
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div *ngIf="checkIsAdmin()">
            <i
              class="fa-solid fa-key"
              style="font-size: 40px; margin-left: 20px; margin-top: 10px"
              routerLink="/brands/detail/{{ brand.id }}"
              title="{{ brand.name }} Repair"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
