#btnInfo {
  border: none;
  padding: 0.3rem;
  width: 2rem;
  border-radius: 50%;
  background-color: transparent;
}
#btnInfo:hover {
  color: rgb(122, 122, 122);
}
.card {
  transition: all 0.1s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}

div ul > li {
  color: rgb(158, 154, 154);
  background-color: rgb(66, 66, 66);
}
