<div class="container">
  <div class="row">
    <app-car-filter></app-car-filter>
    <div
      class="col-3"
      style="margin-bottom: 50px"
      *ngFor="let carDetail of carDetails | carFilter: filterText"
    >
      <div
        class="card"
        routerLink="/cars/detail/{{ carDetail.id }}"
        style="width: 18rem"
      >
        <div class="card-body">
          <div>
            <!-- <img
              [src]="getImageSource(carDetail.id)"
              width="17.5rem"
              height="11rem"
            /> -->
          </div>
          <h5 class="card-title">{{ carDetail.carName }}</h5>
          <p class="card-text">{{ carDetail.descriptions }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Daily Price: {{ carDetail.dailyPrice | currency }}
          </li>
          <li class="list-group-item">Color : {{ carDetail.colorName }}</li>
          <li class="list-group-item">Brand : {{ carDetail.brandName }}</li>
          <li class="list-group-item">
            Required Findeks Score : {{ carDetail.minFindeksScore }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
