<div
  *ngIf="isDataLoaded == false"
  class="spinner-border text-primary"
  role="status"
  style="display: flex; position: absolute; top: 50%; left: 50%"
>
  <span class="visually-hidden">Loading...</span>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <app-car-filter></app-car-filter><br />
      <app-brand></app-brand>
      <app-color></app-color>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div
          class="col-md-4 mb-3"
          style="margin-bottom: 50px"
          *ngFor="let carDetail of carDetails | carFilter: filterText"
        >
          <div
            class="card"
            routerLink="/cars/detail/{{ carDetail.id }}"
            style="
              width: 18rem;
              top: 34px;
              color: rgb(211, 211, 211);
              background-color: rgb(66, 66, 66);
              cursor: pointer;
            "
          >
            <div class="card-mg-top">
              <img
                [src]="getImageSource(carDetail.id)"
                class="card-img-top"
                alt="..."
                style="height: 10rem; width: 18rem; margin: auto"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ carDetail.carName }}</h5>
              <p class="card-text">{{ carDetail.descriptions }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Daily Price: {{ carDetail.dailyPrice | currency }}
              </li>
              <li class="list-group-item">Color : {{ carDetail.colorName }}</li>
              <li class="list-group-item">Brand : {{ carDetail.brandName }}</li>
              <li class="list-group-item">
                Required Findeks Score : {{ carDetail.minFindeksScore }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
