<div class="container" style="margin-top: 1cm" *ngIf="isDataLoaded == true">
  <div class="row">
    <div class="col-12">
      <div class="form-floating" style="width: 100px">
        <label
          for="brandFilter"
          class="form-label"
          style="top: -10px; color: rgb(231, 231, 231)"
          ><b>Brands</b></label
        >
        <select
          class="form-select"
          id="brandFilter"
          aria-label="Default select example"
          [(ngModel)]="selectedBrandId"
          style="background-color: rgb(83, 83, 83); color: rgb(255, 255, 255)"
        >
          <option
            *ngFor="let brand of brands"
            [value]="brand.id"
            style="color: rgb(255, 255, 255)"
          >
            {{ brand.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating" style="width: 100px; top: 7px">
        <label
          for="colorFilter"
          class="form-label"
          style="top: -10px; color: rgb(231, 231, 231)"
          ><b>Colors</b></label
        >
        <select
          class="form-select"
          id="colorFilter"
          aria-label="Default select example"
          [(ngModel)]="selectedColorId"
          style="background-color: rgb(83, 83, 83); color: rgb(255, 255, 255)"
        >
          <option *ngFor="let color of colors" [value]="color.id">
            {{ color.colorName }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button
      type="submit"
      [class]="changeButtonClass()"
      [routerLink]="changeRouteLink()"
      style="
        border-color: var(--firstThemeColor);
        color: var(--firstThemeColor);
        width: 100px;
        margin-top: 10px;
        margin-left: 24px;
        background-color: aqua;
      "
    >
      Filter All
    </button>
  </div>
  <div class="col-12">
    <button
      type="submit"
      class="btn btn-success"
      routerLink="/"
      style="
        border-color: var(--firstThemeColor);
        color: var(--firstThemeColor);
        width: 100px;
        margin-top: 10px;
        margin-left: 24px;
        background-color: aqua;
      "
    >
      Clear
    </button>
  </div>
</div>
